<% if logged_in? %>
	<%= link_to 'New article', new_article_path %>
<% end %>

<div class="article-card-container">
	<% @articles.each do |article| %>
		<div class="card article-card">
			<strong class="card-title"><%= article.title %></strong>
			<span class="card-text">
				<%= truncate(article.text, :length => 1000) %>
				<%= link_to 'Read more', article_path(article) %>
			</span>
			<% if logged_in? %>
				<span><%= link_to 'Edit', edit_article_path(article) %></span>
				<span><%= link_to 'Destroy', article_path(article),
					method: :delete,
					data: { confirm: 'Are you sure?' } %></span>
			<% end %>
		</div>
	<% end %>
</div>
